.icon {
    background: url(../../../../../assets/images/search.png) no-repeat scroll 12px 0px;
    padding-left: 40px;
}

input.mat-mdc-chip-input {
    margin-left: 0;
}

mat-form-field .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}